.weather-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0rem 10rem;
  gap: 1rem;
}

.weather-card {
  box-shadow: 0px 0px 3px grey;
  border-radius: 0.5rem;
  background-color: white;
  padding: 0rem 0.5rem;
}
